<!DOCTYPE HTML>
<html ng-app>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link href="styles/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
    
    <title>Reading List</title>
  </head>

  <body ng-controller="ReadingListCtrl">
    
    <h3>Currently Reading | Total : ({{currentlyReading.length}})</h3>
    <p>Search: <input ng-model="currentBooksQuery"> | Found <strong>{{(currentlyReading|filter:currentBooksQuery).length}}</strong> results</p>
    <div class="book-entry-container" ng-repeat="book in currentlyReading | filter:currentBooksQuery | orderBy:orderProp">
        <ng:include src="'template/book-entry.html'"></ng:include>    
    </div>
    
    <hr />
    
    <h3>Already Read | Total : ({{alreadyRead.length}})</h3>
    <p>Search: <input ng-model="alreadyReadQuery"> | Found <strong>{{(alreadyRead|filter:alreadyReadQuery).length}}</strong> results</p>
    <div class="book-entry-container" ng-repeat="book in alreadyRead | filter:alreadyReadQuery | orderBy:orderProp">
          <ng:include src="'template/book-entry.html'"></ng:include>
    </div>
     
    <hr />
    
    <h3>Future Reading | Total : ({{futureReads.length}})</h3>
    <p>Search: <input ng-model="futureReadsQuery"> | Found <strong>{{(futureReads|filter:futureReadsQuery).length}}</strong> results</p>
    <div class="book-entry-container" ng-repeat="book in futureReads | filter:futureReadsQuery | orderBy:orderProp">
          <ng:include src="'template/book-entry.html'"></ng:include>
    </div>

    <hr />
    
    <h3>About This Website</h3>
    <ng:include src="'template/about-website.html'"></ng:include>    
    
    <hr />
    
    <h3>About Me</h3>
    <ng:include src="'template/about.html'"></ng:include>
    
  </body>
</html>
